html, .b-color {
  background-color: #1A1A1A;
}

.b-color-faded {
  background-color: rgba(26, 26, 26, 0.9);
}

.p-big {
  padding: 8rem 0;
}

@media (min-width: 780px) {
  .p-big {
    padding: 10rem 0;
  }
}

@media (min-width: 1024px) {
  .p-big {
    padding: 13rem 0;
  }
}

.border-grey{
  border-color: #646464;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 5px solid #C4C4C4;
}

.bg-dark {
  background-color: #242424;
}