html, .b-color {
  background-color: #1A1A1A;
}

.b-color-faded {
  background-color: rgba(26, 26, 26, 0.9);
}

.p-big {
  padding: 8rem 0;
}

@media (min-width: 780px) {
  .p-big {
    padding: 10rem 0;
  }
}

@media (min-width: 1024px) {
  .p-big {
    padding: 13rem 0;
  }
}

.border-1 {
  border-width: 1px;
}

.border-grey{
  border-color: #646464;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 5px solid;
}

.arrow-teal {
  border-left-color:  #12c2e9;
}

.arrow-purple {
  border-left-color:  #c471ed;
}

.arrow-pink {
  border-left-color:  #f64f59;
}

.bg-dark {
  background-color: #242424;
}

.gradient {
  background: linear-gradient(127deg, #12c2e9, #c471ed, #f64f59);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-x-gradient {
  border-image-source: linear-gradient(to right, #12c2e9, #c471ed,#f64f59);
  border-image-slice: 1;
}

.border-y-gradient {
  border-image-source: linear-gradient(to bottom, #12c2e9, #c471ed,#f64f59);
  border-image-slice: 1;
}